html, body, .container-fluid{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  overflow: hidden;
}
*{
  box-sizing:border-box;
}
.angular-google-map-container{
  height:400px;
  width:400px;
}
.container{
  height:100%;
  width:100%;
}
.map-container{
  float: left;
  width:75%;
  height:100%;
}
.sidebar-container{
  padding: 15px;
  border-left:1px solid #000;
  float: left;
  width:25%;
  height:100%;
}