@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

html, body, .container-fluid{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  overflow: hidden;
  font-family:'Open Sans';
}

input:focus {
  outline: none;
}

*{
  box-sizing:border-box;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
  outline: none;
  border:none;
  box-shadow:none !important;
}
.btn{
  border-radius:0px;
}

.borderless{
  border:none;
}

#btnSend{
  border:0;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
}
.angular-google-map-container, .angular-google-map{
  position: relative;
  height: 100%;
  width: 100%;
}
.choice-map-container{
  border: 3px solid #fff;
  position: absolute;
  opacity: 1;
  bottom:15px;
  left:15px;
  width: 33%;
}
.container{
  height:100%;
  width:100%;
}
.map-container{
  z-index:1;
  position: relative;
  float: left;
  width:75%;
  height:100%;
}
.sidebar-container{
  border-left: 1px solid #ccc;
  position: relative;
  float: left;
  width:25%;
  height:100%;
  background-color: white;
  font-family: 'Open Sans';
  font-weight:400;
}

.social{
  background-color: #d5ddde;
  bottom: 0;
  width: 100%;
}

.holder{
  width: 101%;
  margin: 0 auto;
}

.soc-item{
  width: 50%;
  float: left;
  height: 50px;
  color: white;
  font-size: 25px;
}

.centerbtn{
  padding:15px;
}

.soc-item a{
  color: white;
}

.fb{
  background-color: #bdc3c7;
}

.twitter{
  background-color: #bdc3c7;
}

.gplus{
  background-color: #bdc3c7;
}

.fb:hover{
  transition: all 0.4s ease-in-out;
  background-color: #006BB6;
}

.twitter:hover{
  transition: all 0.4s ease-in-out;
  background-color: #06C1E2;
}

.gplus:hover{
  transition: all 0.4s ease-in-out;
  background-color: #D94C33;
}

.chat{
  position:absolute;
  bottom: 0;
  width: 100%;
}

.chatoverflow{
  height:100%;
  overflow-y:auto;
  padding: 15px;
  padding-bottom:85px;
}

.centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.pt {
padding-left: 0px;
padding-right: 0px;
 background: url(/images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#content{
  padding-bottom:25px;
  text-align: center;
  color: #E2E1E3;
  font-family:'Open Sans'!important;
  font-size: 16px;
}

#footer{
  width:100%;
  margin-top: 20px;
  font-family:'Open Sans';
  font-weight: 300;
  color: #E2E1E3;
  font-size:18px;
}

#footer .fa-heart{
  color:red;
}

h1,h2,h3,h4,h4{
  font-family:'Open Sans';
  font-weight: 300;
}

.desc{
  margin-top:50px;
  font-size: 16px;
}

.start{
  margin-top:75px;
  margin-bottom:10px;
}

.startbtn{
  border-radius: 20px;
  font-size: 17px;
  border: none;
}

.header{
  width: 75%;
  z-index: 2;
  position: absolute;
  padding:15px;
  color: white;
}

.header-logo{
  float:left;
}

.header-info{
  float:right;
}

.main-logo{
  width:55%;
}

.nav-logo{
  width:35%;
}

#nprogress .bar {
  width: 75%;
  height: 4px;
  background: #5bc0de;
  border: 1px solid #46b8da;
}

/*#nprogress .peg{
  display: none;
}*/

#nprogress .spinner {
  display: none;
}
