<div class="chatdiv" style="height:100%">
<div id="chatBox" class="chatoverflow">
    <p ng-repeat="message in messages" style="color: {{message.color}}">[{{message.date}}] <strong>{{message.pseudo}} :</strong> {{message.message}}</p>
</div>

<form ng-submit='sendMessage()' class="chat">
    <div class="row">
      <div class="col-lg-12">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="inputMessage"  placeholder="{{ messagePlaceHolder }}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">{{ sendValue }}</button>
                </span>
            </div>
            <section class="social">
              <div class="holder">
                <a  target="_blank" href="http://www.facebook.com/sharer/sharer.php?&amp;p[url]=http://whereonearth.com&amp;p[title]=My+Site+Title">
                  <div class="text-center soc-item fb">
                    <span class="centerbtn fa fa-facebook"></span>
                  </div>
                </a>
                <a target="_blank" href="https://twitter.com/intent/tweet?text=I challenge you to find the location of this image&url=http://whereonearth.com&#spaceappchallenge">
                  <div class="text-center soc-item twitter">
                    <span class="centerbtn fa fa-twitter"></span>
                  </div>
                </a>
              </div>
          </section>
        </div>
      </div>
    </form>
</div>
<script>
    $('#chatBox').bind('DOMNodeInserted DOMNodeRemoved', function(event) {
        $("#chatBox").scrollTop($("#chatBox")[0].scrollHeight);
    });
</script>
