  <header class="header">
    <div class="header-logo">
      <img class="nav-logo" src="/images/logo5.png">
    </div>
    <div ng-controller="ScoreCtrl" class="header-info">
    <span>Score <span class="badge">{{score}}</span></span>
    </div>
    <div class="counter" role="bar"></div>
  </header>
  <div class="map-container">
    <google-map  control="map.control" draggable="map.draggable" events="map.events" options="map.options" center="map.center" zoom="map.zoom"></google-map>
    <div ng-controller="MapChoiceCtrl" ng-include="'partials/mapchoice'"></div>
  </div>
  <div class="sidebar-container">
    <div ng-controller="ChatCtrl" style="height:100%">
      <div class="chatdiv" style="height:100%">
        <div id="chatBox" class="chatoverflow">
          <p ng-repeat="message in messages" style="color: {{message.color}}">[{{message.date}}] <strong>{{message.pseudo}} :</strong> {{message.message}}</p>
        </div>
        <form ng-submit='sendMessage()' class="chat">
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group">
                <input type="text" class="form-control borderless" ng-model="inputMessage"  placeholder="{{ messagePlaceHolder }}">
                <span class="input-group-btn">
                  <button class="btn btn-default btn btn-info borderless" type="submit">{{ sendValue }}</button>
                </span>
              </div>
          <section class="social">
            <div class="holder">
              <a href="#">
                <div class="text-center soc-item fb">
                  <span class="centerbtn fa fa-facebook"></span>
                </div>
              </a>
              <a target="_blank" href="https://twitter.com/intent/tweet?text=I challenge you to find the location of this image&url=http://whereonearth.com">
                <div class="text-center soc-item twitter">
                  <span class="centerbtn fa fa-twitter"></span>
                </div>
              </a>
            </div>
          </section>
        </div>
      </div>
  </form>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Hi ! Please enter your username</h4>
      </div>
      <form id="formEnterChat" ng-submit="enterChat()">
      <div class="modal-body">
        <input type="text" class="form-control input-lg" ng-model='inputPseudo' style="border: 1px solid #AAA" required />
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" style="border: none">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>

    </div>
  </div>
    <script>
        $('#chatBox').bind('DOMNodeInserted DOMNodeRemoved', function(event) {
            $("#chatBox").scrollTop($("#chatBox")[0].scrollHeight);
        });

        $(document).ready(function(){
              $('#myModal').modal({
                backdrop:'static',
                keyboard: false,
                show: false
              });

              $('#formEnterChat').submit(function(){
                $('#myModal').modal('hide')
              })
          });
      </script>
