<div class="row mt">
  <div class="col-lg-9 map-container">
    <div class="basic-frame">
      <section class="social">
        <div class="holder">
          <a href="#">
            <div class="text-center soc-item fb">
              <span class="centerbtn fa fa-facebook"></span>
            </div>
          </a>
          <a href="#">
            <div class="text-center soc-item twitter">
              <span class="centerbtn fa fa-twitter"></span>
            </div>
          </a>
          <a href="#">
            <div class="text-center soc-item gplus">
              <span class="centerbtn fa fa-google-plus"></span>
            </div>
          </a>
        </div>
      </section>
    </div>
  </div>
  <div class="col-lg-3 chat-container">
    <div class="basic-frame">
    </div>
  </div>
</div>

