<div class="container pt">
  <div class="row">
    <div class="col-lg-8 centered">
      <div class=content>
        <div class="title">
          <h1>Nom de l'application</h1>
        </div>
        <div class="desc">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa</p>
        </div>
        <div class=start>
          <form action="/">
            <button type="submit" class="btn btn-success btn-lg startbtn">Start !</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
