<div class="container pt">
  <div class="row">
    <div class="col-lg-8 centered">
      <div id=content>
        <div class="title">
          <img class="main-logo" src="/images/logo2.png">
        </div>
        <div class="desc">
          <p></p>
        </div>
        <div class=start>
          <form action="/new">
            <button type="submit" class="btn btn-success btn-lg startbtn">Start !</button>
          </form>
        </div>
      </div>
      <div id="footer">
        <p>Made with <span class="fa fa-heart"></span> in Strasbourg</p>
      </div>
    </div>
  </div>
</div>
